In [2]:
import numpy as np
import pandas as pd
import random

In [5]:
# Name : A, B, C, D, E
# Point : random 60 ~ 100
# DataFrame

data = {
    'Name': ['A', 'B', 'C', 'D', 'E'],
    'Point': [random.randint(60, 100) for each in range(5)],
}

df = pd.DataFrame(data)

df

  Name  Point
0    A     95
1    B     78
2    C    100
3    D    100
4    E     94

In [7]:
df = pd.DataFrame(columns=['Name','Point'])
df['Name']=['A','B','C','D','E']
df['Point']=[random.randint(60,100) for each in range(5)]
df

  Name  Point
0    A     69
1    B     65
2    C     70
3    D     71
4    E     95

In [18]:
# 학점을 나타내는 컬럼을 추가해주세요
df['Grade'] = ''


def grade(score):
    tmp = score // 10
    if tmp==10:
        return 'A+'
    if tmp == 9:
        return 'A'
    elif tmp == 8:
        return 'B'
    elif tmp == 7:
        return 'C'
    else:
        return 'F'


df['Grade'] = df['Point'].apply(grade)
df

  Name  Point Grade
0    A     69     F
1    B     65     F
2    C     70     C
3    D     71     C
4    E     95     A

In [19]:
df.loc[0]

Name      A
Point    69
Grade     F
Name: 0, dtype: object

nan