In [2]:
import numpy as np
import pandas as pd

1. 짝수면 (n//2, n//2, n//2, n//2-1) D를 한번 덜 함
2. 홀수면 (n//2+1, n//2, n//2, n//2) A를 한번 더 함

In [136]:
def make(array, n, current, rotation):
    # A. n
    
    print(n, current, rotation)
    
    # A.
    array = [current + each for each in range(n)]
    df.loc[rotation, rotation:n + rotation - 1] = array
    current = max(array) + 1 if array else 0

    # B.
    array = [current + each for each in range(n - 1)]
    df.loc[rotation + 1:n +rotation - 1, n - 1 + rotation] = array
    current = max(array) + 1 if array else 0

    # C. n
    array = [current + each for each in reversed(range(n - 1))]
    df.loc[n - 1+rotation, rotation:n - 2 + rotation] = array
    current = max(array) + 1 if array else 0

    # D.
    array = [current + each for each in reversed(range(n - 2))]
    df.loc[rotation + 1:n - 2+rotation, rotation] = array
    current = max(array) + 1 if array else 0

    return df, n - 2, current, rotation + 1

In [137]:
def spiral_array(n):
    df = pd.DataFrame(columns=list(range(n)))

    for each in range(6):
        df.loc[each] = [0 for _ in range(6)]

    current = 0
    rotation = 0
    
    total = n//2 if n%2==0 else n//2+1
    
    for _ in range(total):
        df, n, current, rotation = make(df,n,current,rotation)

In [138]:
df

    0   1   2   3   4   5
0   0   1   2   3   4   5
1  19  20  21  22  23   6
2  18  31  32  33  24   7
3  17  30  35  34  25   8
4  16  29  28  27  26   9
5  15  14  13  12  11  10