In [76]:
import pandas as pds

In [90]:
data=pds.read_csv('http://pythonhow.com/supermarkets.csv')

In [78]:
data

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [79]:
# data.set_index?

data.set_index
data.index = check properties of data

data.loc
data.iloc
data.ix

In [95]:
# data.index
if data.index.name is not 'Address':
    data=data.set_index('Address')

In [81]:
data.loc["735 Dolores St":"3995 23rd St","ID":"Country"]

                ID           City             State Country
Address
735 Dolores St   2  San Francisco          CA 94119     USA
332 Hill St      3  San Francisco  California 94114     USA
3995 23rd St     4  San Francisco          CA 94114     USA

In [82]:
# You can deal with table like 2D array
data.loc["735 Dolores St","State"]

'CA 94119'

In [84]:
data.loc[:,'Name']

Address
3666 21st St           Madeira
735 Dolores St     Bready Shop
332 Hill St        Super River
3995 23rd St        Ben's Shop
1056 Sanchez St        Sanchez
551 Alvarado St     Richvalley
Name: Name, dtype: object

In [85]:
list(data.loc[:,'Name'])

['Madeira',
 'Bready Shop',
 'Super River',
 "Ben's Shop",
 'Sanchez',
 'Richvalley']

In [87]:
data

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [89]:
# locationing by index = iloc
data.iloc[0:len(data.index),0:len(data.columns)]

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [99]:
# rows = index, columns = index or string
# data.ix[0,'City']
data.ix[1,1]

'San Francisco'