geocoding(city) -> longitude, latitude
reverse_gc(longitude,latitude) -> city
pip install geopy

In [2]:
import pandas as pds
import numpy as np

In [3]:
data=pds.read_csv('supermarkets.csv')

In [4]:
data['Continent']=data.shape[0]*['North America']

In [5]:
data1=pds.read_csv('supermarkets.csv')
data_merge=pds.merge(left=data,right=data1,on="ID")
data_merge=data_merge.set_index('ID')
data_merge

,Address_x,City_x,State_x,Country_x,Name_x,Employees_x,Continent,Address_y,City_y,State_y,Country_y,Name_y,Employees_y
ID,,,,,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
type(data_merge)

pandas.core.frame.DataFrame

In [7]:
# import geopy
# dir(geopy)

In [8]:
from geopy.geocoders import Nominatim

In [9]:
nom=Nominatim()

In [10]:
nom.geocode('3995 23rd St, San Francisco, CA 94114')

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

How to pass variable as argument?
1. extract proper tuple
2. make suitable for geocode

In [11]:
# 1. extract proper tuple
tmp=data.iloc[3,1:4]

In [12]:
# 2. turn 1 into sutiable form for geocode
arg=list(tmp)

In [13]:
location=nom.geocode(arg)

In [14]:
type(location)

geopy.location.Location

In [15]:
location.longitude

-122.4317141

In [16]:
location.latitude

37.7529648

In [17]:
data1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
# data1['longitude']=np.nan
# data1['latitude']=np.nan
# data1.loc[0,'latitude']=1

# Note that when access to elements,
# Do not by chained-index like data[a][b]
# but data.loc[a,b]

# ---------------------------------------------------------------------------------------------------------
# for each in range(data1.shape[0]):
#     location=nom.geocode(list(data.iloc[each,1:4]))
#     data1.loc[each,'longitude']=location.longitude
#     data1.loc[each,'latitude']=location.latitude
# data1
# if timeout error, it's not because of code.
# ---------------------------------------------------------------------------------------------------------
# 하나의 거대한 스트링으로 바로 넣느냐
# 그때그때 넣느냐

data1['Address']=data1['Address']+", "+data1['City']+", "+data1['State']+", "+data1['Country']
data1['Coordinates']=data1['Address'].apply(nom.geocode)
data1

# data1

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

파일에 저장하는 거 해보기

In [23]:
data1['latitude']=data1['Coordinates'].apply(lambda x: x.latitude if x is not None else None)
data1['longitude']=data1['Coordinates'].apply(lambda x: x.latitude if x is not None else None)
data1

,ID,Address,City,State,Country,Name,Employees,Coordinates,latitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California...",37.757051
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District...",37.756102
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ...",37.753666

type(data1['latitude'])

In [24]:
type(data1['latitude'])

pandas.core.series.Series