In [1]:
a <- 1

In [2]:
a

[1] 1

In [3]:
c(1, 2, 3)

[1] 1 2 3

In [4]:
read.csv('r_example/example_studentlist.csv')

   name   sex  age grade absence bloodtype height weight
1  김길동 남자 23  3     유      O         165.3  68.2
2  이미린 여자 22  2     무      AB        170.1  53.0
3  홍길동 남자 24  4     무      B         175.0  80.1
4  김철수 남자 23  3     무      AB        182.1  85.7
5  손세수 여자 20  1     유      A         168.0  49.5
6  박미희 여자 21  2     무      O         162.0  52.0
7  강수친 여자 22  1     무      O         155.2  45.3
8  이희수 여자 23  1     무      A         176.9  55.0
9  이철린 남자 23  3     무      B         178.5  64.2
10 방희철 남자 22  2     무      B         176.1  61.3
11 박수호 남자 24  4     유      O         167.1  62.0
12 임동민 남자 22  2     무      AB        180.0  75.8
13 김민수 남자 21  1     무      A         162.2  55.3
14 이희진 여자 23  3     무      O         176.1  53.1
15 김미진 여자 22  2     무      B         158.2  45.2
16 김동수 남자 24  4     유      B         168.6  70.2
17 여수근 남자 21  1     무      A         169.2  62.2

In [5]:
object <- c(1,2,3,1,2,3,1,2,3)
object[object==3] <- 100
object

[1]   1   2 100   1   2 100   1   2 100